<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/estilo.css"
          th:href="@{/estilo.css}"/>
    <title>Consultar estadísticas</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>

<body>
<div layout:fragment="content">
    <div class="titulo">
        <h1>Consultar estadísticas</h1>
        <p>Horas dadas: <i th:text="${hoursGiven}"></i></p>
        <p>Horas recibidas: <i th:text="${hoursReceived}"></i></p>
        <p>Colaboraciones en total: <i th:text="${statisticsCollaboration.colaboracionesCumplidasConExito}"></i></p>
        <p>Valoración media:</p>
        <div th:if="${statisticsCollaboration.valoracionMedia==0}">
            <p>Todavía no se ha valorado ninguna colaboración.</p>
        </div>
        <div th:unless="${statisticsCollaboration.valoracionMedia==0}">
            <p><i th:text="${statisticsCollaboration.valoracionMedia}"></i></p>
        </div>
        <p>Ofertas publicadas en total: <i th:text="${statisticsOffersRequests.ofertasPublicadas}"></i></p>
        <p>Demandas publicadas en total: <i th:text="${statisticsOffersRequests.demandasPublicadas}"></i></p>
    </div>
    <a href="/tipos_usuario/usuario" class="btn" role="button">Aceptar</a>
</div>
</body>
</html>