<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listar colaboraciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Consulta de solicitudes de colaboraciones del sistema</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>Final</th>
            <th>Habilidad en colaboración</th>
            <th>Descripcion</th>
            <th>Duracion (en horas)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborationsRequest}">
            <td th:text="${collaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${collaboration.description}"></td>
            <td th:text="${collaboration.start}"></td>
            <td th:text="${collaboration.finish}"></td>
            <td th:text="${collaboration.duration}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Consulta de colaboraciones del sistema</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>Final</th>
            <th>Habilidad en colaboración</th>
            <th>Descripcion</th>
            <th>Duracion (en horas)</th>
            <th>Valoración (de 1 a 5) </th>
            <th>Comentarios</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborations}">
            <td th:text="${collaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${collaboration.description}"></td>
            <td th:text="${collaboration.start}"></td>
            <td th:text="${collaboration.finish}"></td>
            <td th:text="${collaboration.duration}"></td>
            <td th:text="${collaboration.rating}"></td>
            <td th:text="${collaboration.comments}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>