<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listar mis colaboraciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div class="container">
    <h1>Consulta de colaboraciones</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Skill type</th>
            <th>Description</th>
            <th>start</th>
            <th>finish</th>
            <th>Duration</th>
            <th>rating</th>
            <th>comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="colaboration: ${collaborations}">
            <td th:text="${colaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${colaboration.description}"></td>
            <td th:text="${colaboration.start}"></td>
            <td th:text="${colaboration.finish}"></td>
            <td th:text="${colaboration.duration}"></td>
            <td th:text="${colaboration.rating}"></td>
            <td th:text="${colaboration.comments}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>