<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listar mis colaboraciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/estilo.css"
          th:href="@{/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="titulo"><h1>Mis Colaboraciones como ofertante</h1></div>
    <table th:unless="${#lists.isEmpty(collaborationsImOffer)}" class="table table-striped">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>Final</th>
            <th>Descripción de la colaboración</th>
            <th>Habilidad a enseñar</th>
            <th>Estudiante en colaboración</th>
            <th>Duración (en horas)</th>
            <th>Valoración (1-5)</th>
            <th>Comentarios</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborationsImOffer}">
            <td th:text="${collaboration.start}"></td>
            <td th:text="${collaboration.finish}"></td>
            <td th:text="${collaboration.description}"></td>
            <td th:text="${collaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${collaboration.getNameStudentsRequest(students)}"></td>
            <td th:text="${collaboration.duration}"></td>
            <div th:if="${collaboration.rating>0}">
                <td>
                    <p th:text="${collaboration.rating}"></p>
                </td>
                <td>
                    <p th:text="${collaboration.comments}"></p>
                </td>
            </div>
            <div th:unless="${collaboration.rating>0}">
                <td colspan="2">
                    No se ha valorado la colaboración
                </td>
            </div>
        </tr>
        </tbody>
    </table>
    <div class="titulo"><h1>Mis Colaboraciones como demandante</h1></div>
    <table th:unless="${#lists.isEmpty(collaborationsImRequest)}" class="table table-striped">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>Final</th>
            <th>Descripción de la colaboración</th>
            <th>Habilidad a enseñar</th>
            <th>Estudiante en colaboración</th>
            <th>Duración (en horas)</th>
            <th>Valoración (1-5)</th>
            <th>Comentarios</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborationsImRequest}">
            <td th:text="${collaboration.start}"></td>
            <td th:text="${collaboration.finish}"></td>
            <td th:text="${collaboration.description}"></td>
            <td th:text="${collaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${collaboration.getNameStudentsOffers(students)}"></td>
            <td th:text="${collaboration.duration}"></td>
            <div th:if="${collaboration.rating>0}">
                <td>
                    <p th:text="${collaboration.rating}"></p>
                </td>
                <td>
                    <p th:text="${collaboration.comments}"></p>
                </td>
            </div>
            <div th:unless="${collaboration.rating>0}">
                <td colspan="2">
                    <div th:if="${collaboration.finish.isBefore(today)}">
                        <a th:href="@{/collaboration/rate/{idRequest}/{idOffer}(idRequest=${collaboration.idRequest}, idOffer=${collaboration.idOffer})}">Valorar la colaboración</a>
                    </div>
                    <div th:unless="${collaboration.finish.isBefore(today)}">
                        <p> Todavía no ha acabado la colaboración</p>
                    </div>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>