<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Valorar una colaboración</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/estilo.css"
        th:href="@{/css/estilo.css}"/>
</head>
<body>
<div  layout:fragment="content">
  <div><h1>Valorar la colaboración</h1></div>
  <form action="#" th:action="@{/collaboration/rate/{idRequest}/{idOffer}(idRequest=${collaboration.idRequest}, idOffer=${collaboration.idOffer})}"
        th:object="${collaboration}" method="post">
    <table class="table table-striped">
      <tr>
        <td><label>Duración total (en horas)</label></td>
        <td><input type="number" th:field="*{duration}" max="20" required/></td>
          <td th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" class="error"></td>
      </tr>
       <tr>
        <td><label>Valoración (de 1 a 5 )</label></td>
        <td><input max="5" min="1" type="number" th:field="*{rating}" required/></td>
           <td th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error"></td>
       </tr>
       <tr>
        <td><label>Opinión</label></td>
        <td><input type="text" th:field="*{comments}" size="50"/></td>
           <td th:if="${#fields.hasErrors('comments')}" th:errors="*{number}" class="error"></td>
       </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Aceptar" class="botones" /></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>