<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Estadísticas colaboraciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/estilo.css"
          th:href="@{/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="titulo"><h1>Consulta de proposiciones de colaboraciones</h1></div>
    <table th:unless="${#lists.isEmpty(collaborationsRequest)}" class="table table-striped">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>Final</th>
            <th>Habilidad en colaboración</th>
            <th>Descripción</th>
            <th>Estudiante que oferta</th>
            <th>Estudiante que demanda</th>
            <th>Duración (en horas)</th>
            <th>Anular</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborationsRequest}">
            <td th:text="${collaboration.start}"></td>
            <td th:text="${collaboration.finish}"></td>
            <td th:text="${collaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${collaboration.description}"></td>
            <td> <a th:href="@{/student/informacion/{idStudent}(idStudent=${collaboration.idStudentOffers})}" th:text="${collaboration.getNameStudentsOffers(students)}"></a></td>
            <td> <a th:href="@{/student/informacion/{idStudent}(idStudent=${collaboration.idStudentRequest})}" th:text="${collaboration.getNameStudentsRequest(students)}"></a></td>
            <td th:text="${collaboration.duration}"></td>
            <td><a th:href="@{/collaboration/delete/{idOffer}/{idRequest}(idRequest=${collaboration.idRequest}, idOffer=${collaboration.idOffer})}" class="btn btn-danger">Anular colaboración</a>

        </tr>
        </tbody>
    </table>
    <div class="titulo"><h1>Consulta de colaboraciones</h1></div>
    <table th:unless="${#lists.isEmpty(collaborations)}" class="table table-striped">
        <thead>
        <tr>
            <th>Inicio</th>
            <th>Final</th>
            <th>Habilidad en colaboración</th>
            <th>Descripción</th>
            <th>Estudiante que demanda</th>
            <th>Estudiante que oferta</th>
            <th>Duración (en horas)</th>
            <th>Valoración (de 1-5) </th>
            <th>Comentarios</th>
            <th>Anular</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborations}">
            <td th:text="${collaboration.start}"></td>
            <td th:text="${collaboration.finish}"></td>
            <td th:text="${collaboration.getNameSkillType(skillTypes)}"></td>
            <td th:text="${collaboration.description}"></td>
            <td> <a th:href="@{/student/informacion/{idStudent}(idStudent=${collaboration.idStudentRequest})}" th:text="${collaboration.getNameStudentsRequest(students)}"></a></td>
            <td> <a th:href="@{/student/informacion/{idStudent}(idStudent=${collaboration.idStudentOffers})}" th:text="${collaboration.getNameStudentsOffers(students)}"></a></td>
            <td th:text="${collaboration.duration}"></td>
            <div th:if="${collaboration.rating>0}">
                <td>
                    <p th:text="${collaboration.rating}"></p>
                </td>
                <td>
                    <p th:text="${collaboration.comments}"></p>
                </td>
            </div>
            <div th:unless="${collaboration.rating>0}">
                <td colspan="2">
                    No se ha valorado la colaboración
                </td>
            </div>
            <td><a th:href="@{/collaboration/delete/{idOffer}/{idRequest}(idRequest=${collaboration.idRequest}, idOffer=${collaboration.idOffer})}" class="btn btn-danger">Anular colaboración</a>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>