<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Crear nova solicitut</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div  layout:fragment="content">
    <div class="titulo"><h1>Nueva Demanda</h1></div>
    <form action="#" th:action="@{/request/add}"
          th:object="${request}" method="post">
        <table class="table table-striped">
            <tr>

                <td><label>Descripción</label></td>
                <td><input type="text" th:field="*{description}"/></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">


            </tr>
            <tr>
                <td><label>Duración</label></td>
                <td><input type="number" th:field="*{duration}" placeholder="Horas" max="500" min = 0/></td>
                <td th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></td>

            </tr>
            <tr>
                <td><label>Fecha de inicio</label></td>
                <td><input type="text" th:field="*{start}" placeholder="dd/MM/yyyy" /></td>
                <td th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></td>
            </tr>
            <tr>
                <td><label>Fecha de fin</label></td>
                <td><input type="text" th:field="*{finish}" placeholder="dd/MM/yyyy" /></td>
                <td th:if="${#fields.hasErrors('finish')}" th:errors="*{finish}"></td>
            </tr>

            <tr>
                <td><label>SkillType</label></td>
                <td><select class="form_control" type="text" th:field="*{idSkillType}">
                <option th:each= "skillType : ${skillTypes}"
                        th:value="${skillType.getIdSkillType()}"
                        th:text="${skillType.getName()}"></option>
            </select></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Añadir Demanda" class="botones" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

