<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Consultar propuestas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="titulo"><h1>Consultar Demandas</h1></div>
    <p>Muestra las demandas de colaboración activas del sistema.</p>
    <table th:unless="${#lists.isEmpty(requests)}" class="table table-striped">
        <thead class="table table-striped">
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Descripción</th>
                <th>Tipo de habilidad</th>
                <th>Nivel dificultad (1-5)</th>
                <th>Duración en horas</th>
                <th>Estudiante que demanda</th>
            </tr>
            </thead>
        <tbody>
            <tr th:each="request: ${requests}">
                <td th:text="${request.start}"></td>
                <td th:text="${request.finish}"></td>
                <td th:text="${request.description}"></td>
                <td th:text="${request.getNameSkillType(skillTypes)}"></td>
                <td th:text="${request.getLevelSkillType(skillTypes)}"></td>
                <td th:text="${request.duration}"></td>
                <td th:text="${request.getNameStudent(students)}"></td>
            </tr>
        </tbody>
    </table>
    <p th:unless="${not #lists.isEmpty(requests)}"> No hay demandas publicadas</p>
</div>
</body>
</html>
