<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Consultar propuestas por habilidad</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/estilo.css"
        th:href="@{/css/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
  <h1>Propuestas activas de <i th:text="${offerSearch.getNameSkillType(skillTypes)}"></i></h1>
  <table th:unless="${#lists.isEmpty(requests)}" class="table table-striped">
    <thead class="table table-striped">
    <tr>
    <tr>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Descripción de la propuesta</th>
      <th>Habilidad</th>
      <th>Nivel dificultad (1-5)</th>
      <th>Duración en horas</th>
      <th>Alumno que demanda</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request: ${requests}">
      <td th:text="${request.start}"></td>
      <td th:text="${request.finish}"></td>
      <td th:text="${request.description}"></td>
      <td th:text="${request.getNameSkillType(skillTypes)}"></td>
      <td th:text="${request.getLevelSkillType(skillTypes)}"></td>
      <td th:text="${request.duration}"></td>
      <td th:text="${request.getNameStudent(students)}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
