<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Consultar propuestas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Consultar Demandas</h1>
    <table th:unless="${#lists.isEmpty(requests)}" class="table table-striped">
        <thead class="table table-striped">
        <tr>
            <th>idRequest</th>
            <th>Descripción Demanda</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Duración</th>
            <th>idStudent</th>
            <th>idSkillType</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}">
            <td th:text="${request.getNameSkillType(skillTypes)}"></td>
            <td th:text="${request.description}"></td>
            <td th:text="${request.start}"></td>
            <td th:text="${request.finish}"></td>
            <td th:text="${request.duration}"></td>
            <td th:text="${request.idStudent}"></td>
            <td th:text="${request.idSkillType}"></td>
            <td th:text="${request.valid}"></td>
            <td><a th:href="@{/offer/mis_requests/{id}(id=${offer.idOffer})}" class="btn btn-success">Aceptar</a>
        </tr>
        </tbody>
    </table>
    <td><a th:href="@{/request/update/{id}(id=${request.idRequest})}" class="btn btn-success">Actualizar</a>
    <td><a th:href="@{/request/delete/{id}(id=${request.idRequest})}" class="btn btn-success">Eliminar</a>
</div>
</body>
</html>
