<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/estilo.css"
          th:href="@{/estilo.css}"/>
    <title>Registrar</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div  layout:fragment="content">
    <div class="titulo"><h2>Nueva habilidad</h2>
<form action="#" th:action="@{/skilltype/add}"
      th:object="${skilltype}" method="post">
    <table class="table table-striped">
        <tr>
            <td><label>Nombre del tipo de habilidad</label></td>
            <td><input type="text" th:field="*{name}" maxlength="50"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">
        </tr>
        <tr>
            <td><label>Descripción de la habilidad</label></td>
            <td><input type="text" th:field="*{description}" maxlength="100" /></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">
        </tr>
        <tr>
            <td><label>Nivel</label></td>
            <td><input type="number" th:field="*{level}" max="5" min ="1" required/></td>
            <td th:if="${#fields.hasErrors('level')}" th:errors="*{level}" class="error">
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Añadir habilidad" class="botones"/></td>
        </tr>
    </table>
</form>
    </div>
</div>
</body>
</html>