<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listado skill type</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="titulo"><h1>Gestionar habilidades</h1></div>
    <table th:unless="${#lists.isEmpty(skills)}" class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Nivel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skill: ${skills}">
            <td th:text="${skill.name}"></td>
            <td th:text="${skill.description}"></td>
            <td th:text="${skill.level}"></td>
            <td><a th:href="@{/skilltype/update/{idSkilltype}(idSkilltype=${skill.idSkillType})}" class="btn btn-warning" role="button">Editar</a></td>
            <td><a th:href="@{/skilltype/delete/{idSkilltype}(idSkilltype=${skill.idSkillType})}" class="btn btn-danger" role="button">Borrar</a></td>
        </tr>
        </tbody>
    </table>
    <p th:unless="${not #lists.isEmpty(skills)}">No hay Skill Types creadas</p>
    <a href="add" class="btn btn-succes" role="button">Añadir habilidad</a>
</div>
</body>
</html>
