<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/estilo.css"
        th:href="@{/estilo.css}"/>
  <title>Lista de Skp</title>
  <meta charset="UTF-8"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
  <h1>Gestionar habilidades</h1>
  <table th:unless="${#lists.isEmpty(skills)}" class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Nivel</th>
      <th>Número de ofertas activas con dicha actividad</th>
      <th>Número de demandas activas con dicha actividad</th>
      <th>Editar datos</th>
      <th>Anular del sistema</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="skill: ${skills}">
      <td th:text="${skill.name}"></td>
      <td th:text="${skill.description}"></td>
      <td th:text="${skill.level}"></td>
      <td th:text="${skill.numberOfOffers}"></td>
      <td th:text="${skill.numberOfRequest}"></td>
      <td><a th:href="@{/skilltype/update/{idSkilltype}(idSkilltype=${skill.idSkillType})}" class="btn btn-warning" role="button">Editar</a></td>
      <div th:if="${skill.valid}">
        <td><a th:href="@{/skilltype/anular/{idSkilltype}(idSkilltype=${skill.idSkillType})}" class="btn btn-danger" role="button">Anular</a></td>
      </div>
      <div th:unless="${skill.valid}">
        <td><a th:href="@{/skilltype/recuperar/{idSkilltype}(idSkilltype=${skill.idSkillType})}" class="btn btn-success" role="button">Recuperar</a></td>
      </div>
    </tr>
    </tbody>
  </table>
  <p th:unless="${not #lists.isEmpty(skills)}">No hay Skill Types creadas</p>
  <a href="add" class="btn btn-succes botones" role="button">Añadir habilidad</a>
</div>
</body>
</html>