<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>update nuevo skilltype</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Editar skilltype</h2>
<form action="#" th:action="@{/skilltype/update}"
      th:object="${skilltype}" method="post">
    <table>
        <tr>
            <td><label>ID</label></td>
            <td><input type="hidden" th:field="*{idSkillType}" /></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Level</label></td>
            <td><input type="number" th:field="*{level}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="edita" /></td>
        </tr>
    </table>

</form>
</body>
</html>