/* Estil aplicat al cos de la pàgina */
body {
   font-family: Helvetica, Arial, sans-serif;
   background-color: white;
}

/* Capçalera de nivell 1 */
h1 {
   font-size: x-large;
   color: black;
}

/* Capçalera de nivell 2 */
h2 {
   font-size: large;
   color: black;
}

/* Classe CSS error */
.error {
     color: red;
     font-size:80%
}

.needcorrection {
     color: red;
     background-color:yellow;
}
.loggeduser {
	color: gray;
	text-align: right;
margin-right: 10pt;
}

.botonIndex {
    margin-top:60px;
    background-color:#999999;
    margin-left: 500px;
    margin-right: 500px;
    text-align:center;
    webkit-border-radius: 28;
    moz-border-radius: 28;
    border-radius: 28px;
    webkit-box-shadow: 6px 5px 24px;
    moz-box-shadow: 6px 5px 24px;
    box-shadow: 6px 5px 24px;
    font-family: Arial;
    color: #000000;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
}

.titulo {
    margin-top:60px;
    color: #000000;
    font-family: source sans pro;
    text-align:center;
}

.menu {
     display: flex;
     background-color: skyblue;
}