/* Estil aplicat al cos de la pàgina */
body {
   font-family: Helvetica, Arial, sans-serif;
   background-color: white;
   margin_bottom: 40px;
}

img {
   width: 40%;
   margin-left: 550px;
   margin-right: 550px;
}

.bordeLogin{
    border-color: gray;
      border-width: 3px;
      border-style: ridge;
      margin-left: 370px;
      margin-right: 280px;
      margin-bottom: 150px;
}

.logoPiePag{
    width: 20%;
       margin-left: 20px;
       margin-right: 20px;
}

/* Capçalera de nivell 1 */
h1 {
   font-size: x-large;
   color: black;
}

/* Capçalera de nivell 2 */
h2 {
   font-size: large;
   color: black;
}

/* Classe CSS error */
.error {
     color: red;
     font-size:80%
}

.needcorrection {
     color: red;
     background-color:yellow;
}
.loggeduser {
	color: grey;
	width:69%;
    margin-left:170px;
    margin-right:170px;
    margin-right: 50pt;
}

.botonIndex {
    margin-top:35px;
    background-color: #999999;
    margin-left: 640px;
    margin-right: 640px;
    text-align:center;
    webkit-border-radius: 28;
    moz-border-radius: 28;
    border-radius: 28px;
    webkit-box-shadow: 6px 5px 24px;
    moz-box-shadow: 6px 5px 24px;
    box-shadow: 6px 5px 24px;
    font-family: source sans pro;
    color: #000000;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
    width:30%;
}
/*botines para las opciones de los skp*/
.botonSKP {
    margin-top:35px;
    background-color: #999999;
    margin-left: 400px;
    margin-right: 400px;
    text-align:center;
    webkit-border-radius: 28;
    moz-border-radius: 28;
    border-radius: 28px;
    webkit-box-shadow: 6px 5px 24px;
    moz-box-shadow: 6px 5px 24px;
    box-shadow: 6px 5px 24px;
    font-family: source sans pro;
    color: #000000;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
}

/*estilo para los titulos de las opciones que puede realizar el usuario*/
.botonOpciones {
    font: 25 2em/1 "Oswald", source sans pro;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.botonAcceder {
    margin-top:60px;
        background-color: #7FFF00;
        margin-left: 300px;
        margin-right: 600px;
        text-align:right;
        webkit-border-radius: 28;
        moz-border-radius: 28;
        border-radius: 28px;
        webkit-box-shadow: 6px 5px 24px;
        moz-box-shadow: 6px 5px 24px;
        box-shadow: 6px 5px 24px;
        font-family: source sans pro;
        color: #000000;
        font-size: 20px;
        padding: 19px;
        text-decoration: none;
    }

.botones {
       margin-top:60px;
           background-color: #999999;
           margin-left: 460px;
           margin-right:460px;
           text-align:center;
           webkit-border-radius: 28;
           moz-border-radius: 28;
           border-radius: 28px;
           webkit-box-shadow: 6px 5px 24px;
           moz-box-shadow: 6px 5px 24px;
           box-shadow: 6px 5px 24px;
           font-family: source sans pro;
           color: #000000;
           font-size: 20px;
           padding: 19px;
           text-decoration: none;
       }

.botonesVisitante {
       margin-top:60px;
           background-color: #999999;
           margin-left: 360px;
           margin-right:360px;
           text-align:center;
           webkit-border-radius: 28;
           moz-border-radius: 28;
           border-radius: 28px;
           webkit-box-shadow: 6px 5px 24px;
           moz-box-shadow: 6px 5px 24px;
           box-shadow: 6px 5px 24px;
           font-family: source sans pro;
           color: #000000;
           font-size: 20px;
           padding: 19px;
           text-decoration: none;
       }
/*Le quito el azul a los enlaces */
a {color:#000000;}
a:visited {color:#000000;}
a:active {color:#000000;}
a:hover {color:#000000;}

/*Estilo para la interfaz de usuario and visitante, etc */
.botonesUsuario {
   margin-top:60px;
       background-color: #999999;
       margin-left: 20px;
       margin-right: 20px;
       text-align:center;
       webkit-border-radius: 28;
       moz-border-radius: 28;
       border-radius: 28px;
       webkit-box-shadow: 6px 5px 24px;
       moz-box-shadow: 6px 5px 24px;
       box-shadow: 6px 5px 24px;
       font-family: source sans pro;
       color: #000000;
       font-size: 27px;
       padding: 19px;
       text-decoration: none;
}

/*Titulo SkillSHaring en index y para demas titulos de otras páginas*/
.titulo {

    margin-top:50px;
    color: #000000;
    font-family: source sans pro;
    text-align:center;
}

/*titulo en fragments base */
.tituloBase{
    color: #000000;
    font-family: source sans pro;
    text-align: center;
    margin-top:30px;
    font-text:90%;
}

nav {
    width:69%;
    margin-left:170px;
    margin-right:170px;
    background-color: #999999;
    text-align:center;
    margin-top:auto;
    font-family: source sans pro;
    color: #000000;
    font-size: 20px;
    padding: 100px;
}

.loginUsers{
    color: #000000;
    font-family: source sans pro;
    margin-top:30px;
    width:80%;
    margin-left:170px;
    margin-right:170px;
    font-text:90%;
}

/*Separador de los inputs del login */
.separador{
    margin-left:40px;
}

.separador2{
     margin-left:90px;
 }

 .table_center{
     margin: auto;
 }
 .center{
    text-align:center;
 }