<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <title>Baneado</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <div>
        <p>Has sido baneado por lo siguiente:  <i th:text="${student.banReason}"></i> </p>
    </div>
</div>

</body>
</html>