<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <title>Baneado</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <div>
        <p>Usted ha sido baneado del sistema.</p>
        <p>El motivo del Baneo es el siguiente: <i th:text="${banReason}"></i></p>
        <p>Para más información contacte con al394753@uji.es</p>
    </div>
</div>

</body>
</html>