<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/estilo.css"
          th:href="@{/estilo.css}"/>
    <title>Usuario</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <div class="titulo">
        <p>Horas dadas: <i th:text="${hoursGiven}"></i></p>
        <p>Horas recibidas: <i th:text="${hoursReceived}"></i></p>
        <p>Colaboraciones en total: <i th:text="${statisticsCollaboration.colaboracionesCumplidasConExito}"></i></p>
        <p>Valoración media(Si es 0, no hay, arreglarlo Imanol o Marc): <i th:text="${statisticsCollaboration.valoracionMedia}"></i></p>
        <p>Ofertas publicadas en total: <i th:text="${statisticsOffersRequests.ofertasPublicadas}"></i></p>
        <p>Demandas publicadas en total: <i th:text="${statisticsOffersRequests.demandasPublicadas}"></i></p>
    </div>
    <table class="table_center">
        <tr>
            <th class="center botonOpciones">
                Ofertas
            </th>
            <th class="center botonOpciones">
                Demandas
            </th>
            <th class="center botonOpciones">
                Colaboraciones
            </th>
        </tr>
         <tr>
                <td>
                    <div class="botonesUsuario">
                        <a href="/offer/list" class="btn" role="button">Consultar Ofertas</a>
                    </div>
                </td>
                <td>
                    <div class="botonesUsuario">
                        <a href="/request/list" class="btn" role="button">Consultar demandas</a>
                    </div>
                </td>
                <td>
                    <div class="botonesUsuario">
                        <a href="/collaboration/mis_request_colaboraciones" class="btn" role="button">Mis solicitudes de colaboraciones</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="botonesUsuario">
                        <a href="/offer/mis_ofertas" class="btn" role="button">Mis ofertas</a>
                    </div>
                </td>
                <td>
                    <div class="botonesUsuario">
                        <a href="/request/mis_demandas" class="btn" role="button">Mis demandas</a>
                    </div>
                </td>
                <td>
                    <div class="botonesUsuario">
                        <a href="/collaboration/mis_colaboraciones" class="btn" role="button">Mis colaboraciones</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="botonesUsuario">
                        <a href="/offer/add" class="btn" role="button">Crear ofertas</a>
                    </div>
                </td>
                <td>
                    <div class="botonesUsuario">
                        <a href="/request/add" class="btn" role="button">Crear demandas</a>
                    </div>
                </td>
                <td>

                </td>
            </tr>
    </table>
</div>

</body>
</html>