<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Consultar ofertas</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/estilo.css"
        th:href="@{/estilo.css}"/>
</head>
<body>
<div layout:fragment="content">
  <div class="titulo"><h1>Consultar ofertas</h1></div>
  <table th:unless="${#lists.isEmpty(offers)}" class="table table-striped">
    <thead class="table table-striped">
    <tr>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Descripción de la oferta</th>
      <th>Habilidad ofrecida</th>
      <th>Nivel dificultad (1-5)</th>
      <th>Duración en horas</th>
      <th>Estudiante que oferta</th>
      <th>Valoración media del estudiante que oferta. Si es 0 es que no hay arreglarlo Imanol o Marc para que salga otra cosa</th>
      <th>Colaboraciones cumplidas del estudiante que oferta</th>
      <th</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="offer: ${offers}">
      <td th:text="${offer.start}"></td>
      <td th:text="${offer.finish}"></td>
      <td th:text="${offer.description}"></td>
      <td th:text="${offer.getNameSkillType(skillTypes)}"></td>
      <td th:text="${offer.getLevelSkillType(skillTypes)}"></td>
      <td th:text="${offer.duration}"></td>
      <td th:text="${offer.getNameStudent(students)}"></td>
      <td th:text="${offer.getValoracionMediaOfertante(statisticStudents)}"></td>
      <td th:text="${offer.getValoracionColaboracionesRealizadas(statisticStudents)}"></td>
    </tr>
    </tbody>
  </table>
  </div>
</body>
</html>
