<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <!-- app css  -->
    <link type="text/css" th:href="@{/estilo.css}" href="/estilo.css"
          rel="stylesheet"/>

    <title layout:title-pattern="$CONTENT_TITLE">Skill Sharing</title>
</head>

<body class="container">
<header class="page-header">
    <div class="tituloBase"><h1>Skill Sharing</h1></div>
</header>
<div th:replace="fragments/nav"></div>
<div th:replace="fragments/logininfo"></div>
<div layout:fragment="content"></div>
<footer>
    <hr>
    <p class="text-muted loggeduser">
         Datos de contacto:
        -Correo: al394754@uji.es
        -Número de teléfono: 666 666 666
        <a href="/"><img class="logoPiePag" SRC="/logoUji.jpg" height="100px" width="180px" ALT="AQUI VA UNA IMAGEN"></a></p>
</footer>
</body>
</html>



