<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/estilo.css"
          th:href="@{/estilo.css}"/>
    <title>Título</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/}">Página principal</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/tipos_usuario/usuario}">Área personal</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/offer/list}">Consultar ofertas</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/request/list}">Consultar demandas</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/student/statistics}">Consultar mis estadisticas</a></li>
            <li class="nav-item" ><a class="nav-link" href="/" th:href="@{/logout}">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>
</body>
</html>