<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <title>Registrar</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <div class="titulo"> <h2>Registrar usuario</h2>
    <form action="#" th:action="@{/register/datos}"
          th:object="${student}" method="post">
        <table class="table table-striped">
            <tr>
                <td><label>Nombre</label></td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">
            </tr>
            <tr>
                <td><label>Nombre de usuario (alXXXXXX)</label></td>
                <td><input type="text" th:field="*{username}"></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">
            </tr>
            <tr>
                <td><label>Contraseña</label></td>
                <td><input type="text" th:field="*{password}"></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">
            </tr>
            <tr>
                <td><label>Código Postal</label></td>
                <td><input type="number" size="5" th:field="*{codePostal}"></td>
                <td th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" class="error">
            </tr>
            <tr>
                <td><label>Grado</label></td>
                <td><input type="text" th:field="*{degree}"></td>
                <td th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}" class="error">
            </tr>
            <tr>
                <td><label>Curso</label></td>
                <td><input type="number" max="10" min="1" th:field="*{course}"></td>
                <td th:if="${#fields.hasErrors('course')}" th:errors="*{course}" class="error">
            </tr>
            <tr>
                <td><label>teléfono</label></td>
                <td><input type="number"  th:field="*{numberPhone}" size="9"></td>
                <td th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}" class="error">
            </tr>
            <tr>
                <td><label>Género</label></td>
                <td><select class="form_control" type="text" th:field="*{gender}">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otros">Otros</option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Continuar" class="botones"/></td>
            </tr>
        </table>
    </form>
</div>
</div>
</body>
</html>