<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <title>Registrar</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <h2>Registrarse</h2>
    <form action="#" th:action="@{/register/user}"
          th:object="${user}" method="post"> <!-- Cuidado con el th:object, los parámetros que aparecen abajo como *{...] tienen que ser parámetros de ese objeto, sino dará error de template-->
        <table>
            <tr>
                <td><label>Usuario</label></td>
                <td><input type="text" th:field="*{username}" placeholder="Nombre usuario" required></td>
            </tr>
            <tr>
                <td><label>Contraseña</label></td>
                <td><input type="text" th:field="*{password}" placeholder="Contraseña" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Continuar" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>