<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <link rel="stylesheet" type="text/css"
        href="/css/estilo.css"
        th:href="@{/css/estilo.css}"/>
  <title>Registrar</title>
  <meta charset="UTF-8"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
  <h2>Usuario ya existente</h2>
  <a href="../../" class="btn btn-warning" role="button">Volver</a>
</div>
</body>
</html>