<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <img SRC="logoUji.jpg" ALT="AQUI VA UNA IMAGEN">
    <title> Skillsharing </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="estilo.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>
<body>
<div class="titulo">
    <h1>SkillSharing</h1>
    <h2>Acceder Como</h2>
</div>

<div class="botonIndex">
    <a href="tipos_usuario/visitante" class="btn" role="button">Visitante</a>
</div>
<div class="botonIndex">
    <a href="login" class="btn" role="button">Usuario</a>
</div>
<div>
    <a href="register/datos">Registrar un usuario para hacer pruebas</a>
</div>

</body>
</html>