<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <title>Register</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <h2>Registrarse</h2>
    <form action="#" th:action="@{/register}"
          th:object="${user}" method="post">
        <table>
            <tr>
                <td><label>Nombre</label></td>
                <td><input type="text" th:field="*{username}" placeholder="Nombre usuario"></td>
            </tr>
            <tr>
                <td><label>Contraseña</label></td>
                <td><input type="text" th:field="*{password}" placeholder="Contraseña"></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <a href="/register" class="btn" role="button">Registrarse</a>
</div>
</body>
</html>