<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estilo.css"
          th:href="@{/css/estilo.css}"/>
    <title>Usuario</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div>
    <a href="consulta_ofertas" class="btn" role="button">Consultar Ofertas</a>
</div>
<div>
    <a href="consulta_demanda" class="btn" role="button">Consultar demandas</a>
</div>
<div>
    <a href="mis_ofertas" class="btn" role="button">Mis ofertas</a>
</div>
<div>
    <a href="mis_demandas" class="btn" role="button">Mis demandas</a>
</div>
<div>
    <a href="crear_oferta" class="btn" role="button">Crear ofertas</a>
</div>
<div>
    <a href="crear_demanda" class="btn" role="button">Crear demandas</a>
</div>
</body>
</html>